<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <h1>Ingrese Producto</h1>
    <br>

    <form action="/api/productos/guardar" method="POST">
        <i>Nombre</i> <input type="text" name="title">
        <i>Precio</i> <input type="text" name="price">
        <i>Foto URL</i> <input type="text" name="thumbnail">
        <button>Enviar</button>
    </form>